/* Global layout */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}

div#content {
	max-width: 700px;
	padding: 0 2%;
}

div#spacer {
	flex-grow: 1; /* Allows the footer to stay to the bottom */
}

/* Search boxes */
#searchbox {
	width: 80%;
	max-width: 350px;
	text-align: right;
}

.searchbox-form input[type="search"] {
	max-width: 400px;
	width: calc(100% - 60px);
}

/* Basic elements */
a {
	outline: revert; /* Add back the outline of links, removed by debian.css */
}

menu {
	padding-left: 0;
}
menu > li {
	list-style: none;
}

/* Colored tags header */
h1 > code {
	padding: .1rem .5rem;
	line-height: 1.7rem;
}

code.error {
	background-color: #FF6700;
}
code.warning {
	background-color: #FFEB44;
}
code.info {
	background-color: #99A2FF;
}
code.pedantic {
	background-color: #C7EA3C;
}
code.classification {
	background-color: #D0D0D0;
}
code.experimental {
	background-color: #EE99EE;
}

/* Compact see also list */
#see-also p {
	margin: 0;
}
