div#content {
	max-width: 700px;
	padding: 0 2%;
}

.index.searchbox-form input[type="search"] {
	max-width: 400px;
	width: 80%;
}

a {
	outline: revert;
}

menu {
	padding-left: 0;
}
menu > li {
	list-style: none;
}

h1 > code {
	padding: 0 .5rem;
	line-height: 1.6rem;
}

code.error {
	background-color: #FF6700;
}
code.warning {
	background-color: #FFEB44;
}
code.info {
	background-color: #99A2FF;
}
code.pedantic {
	background-color: #C7EA3C;
}
code.classification {
	background-color: #D0D0D0;
}

#see-also p {
	margin: 0;
}
