main {
	max-width: 700px;
	margin: auto;
	padding: 0 2%;
}
p.section {
	margin: 0;
	padding: 0 5px 0 5px;
	font-family: monospace;
	line-height: 16px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	position: absolute;
	top: 0px;
	left: 52px;
	background-color: #c70036;
}
p.section a {
	color: white;
	text-decoration: none;
}

