<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Lintian Tag: {{ .Name }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="{{ .Root }}tag.css">
</head>
<body>
  <header>
    <p class="section"><a href="/" title="Lintian tags explanations">LINTIAN</a></p>
  </header>
  <main>
    <h1><code>{{ .Name }}</code></h1>
    <p>{{ .ExplanationHTML }}</p>
    <table>
      <tr>
        <td>Severity: </td>
        <td><code>{{ .Visibility }}</code></td>
      </tr>
      <tr>
        <td>Experimental: </td>
        <td><code>{{ .Experimental }}</code></td>
      </tr>
{{- if .RenamedFrom }}
      <tr>
        <td>Renamed from: </td>
        <td><code>{{ .RenamedFromStr }}</code></td>
      </tr>
{{- end }}
    </table>
{{- if .SeeAlso }}
    <h2>See also</h2>
    <ul>
{{- range .SeeAlsoHTML }}
      <li>{{ . }}</li>
{{- end }}
    </ul>
{{- end }}
  </main>
</body>
</html>
