{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Lintian Tag: {{ .Name }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="{{ .Root }}favicon.ico">
  <link rel="stylesheet" href="https://www.debian.org/debian.css">
  <link rel="stylesheet" href="{{ .Root }}tag.css">
</head>
<body>
  <div id="header">
    <div id="upperheader">
      <div id="logo">
        <a href="https://www.debian.org/" title="Debian Home"><img src="{{ .Root }}openlogo-50.svg" alt="Debian" width="50" height="61"></a>
      </div>
      <p class="section"><a href="{{ .Root }}" title="Lintian tags explanations">LINTIAN</a></p>
      <div id="searchbox">
        <form action="{{ .Root }}" method="get" id="searchbox-form">
          <input type="search" name="q" list="lintian-tags" placeholder="lintian tag" required="" autocomplete="off">
          <input type="submit" value="Jump">
        </form>
      </div>
    </div>
  </div>
  <div id="content">
    <h1><code class="{{ .Visibility }}">{{ .Name }}</code></h1>
    {{ .ExplanationHTML }}
    <table>
      <tr>
        <td>Severity: </td>
        <td><code>{{ .Visibility }}</code></td>
      </tr>
      <tr>
        <td>Experimental: </td>
        <td><code>{{ .Experimental }}</code></td>
      </tr>
{{- if .RenamedFrom }}
      <tr>
        <td>Renamed from: </td>
        <td><code>{{ .RenamedFromStr }}</code></td>
      </tr>
{{- end }}
    </table>
{{- if .SeeAlso }}
    <h2>See also</h2>
    <ul id="see-also">
{{- range .SeeAlsoHTML }}
      <li>{{ . }}</li>
{{- end }}
    </ul>
{{- end }}
  </div>

  <script>
    const form = document.getElementById("searchbox-form");
    form.onsubmit = (event) => {
      event.preventDefault()
      let form = event.target;
      window.location = "{{ .Root }}tags/" + form.elements.namedItem("q").value + ".html";
    };
  </script>

  {{ .TagDatalist }}
</body>
</html>
{{ end }}


{{ define "lintian-tags" }}
<datalist id="lintian-tags">
{{- range . }}
  <option value="{{ . }}"></option>
{{- end }}
</datalist>
{{ end }}
