{{ define "title" }}Page not found - Lintian{{ end }}

{{ define "description" }}Page not found{{ end }}

{{ define "content" }}
    <h1>404 Page not found</h1>
    <p>Sorry, this page has not been found on this website. Maybe it has been renamed?</p>
{{ end }}
