{{ block "layout" . }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ block "title" . }}Lintian Tags{{ end }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="{{ block "description" . }}Online explanation of all the lintian tags{{ end }}" />
  <meta name="generator" content="lintian-ssg {{ .Version }}" />
  <link rel="icon" href="{{ .Root }}favicon.ico">
  <link rel="stylesheet" href="https://www.debian.org/debian.css">
  <link rel="stylesheet" href="{{ .Root }}main.css">
{{- if .BaseURL }}
  <link rel="canonical" href="{{ .BaseURL }}{{ block "page" . }}index.html{{ end }}">
{{- end }}
</head>
<body>
  <div id="header">
    <div id="upperheader">
      <div id="logo">
        <a href="https://www.debian.org/" title="Debian Home"><img src="{{ .Root }}openlogo-50.svg" alt="Debian" width="50" height="61"></a>
      </div>
      <p class="section"><a href="{{ .Root }}index.html" title="Lintian tags explanations">LINTIAN</a></p>
      <div id="searchbox">
        <form action="{{ .Root }}" method="get" class="searchbox-form">
          <input type="search" name="q" list="lintian-tags-datalist" placeholder="lintian tag" required="" autocomplete="off">
          <input type="submit" value="Jump">
        </form>
      </div>
    </div>
    <div id="navbar">
      <ul>
        <li><a href="{{ .Root }}index.html">Tags</a></li>
        <li><a href="{{ .Root }}manual/index.html">User Manual</a></li>
        <li><a href="{{ .Root }}about.html">About</a></li>
      </ul>
    </div>
  </div>

  <div id="content">
{{ block "content" . }}
    <h1>Lintian tags explanation</h1>
    <p>
      Lintian is a tool to run checks on Debian packages,
      and each of these checks are identified by a tag.
      This website displays the explanations of all the tags that Lintian can produce,
      as of version {{ .VersionLintian }}.
      See <a href="./manual/index.html">Lintian User's Manual</a> for more information.
    </p>
    <form action="index.html" method="get" class="index searchbox-form">
      <input type="search" name="q" list="lintian-tags-datalist" placeholder="lintian tag" required="" autocomplete="off">
      <input type="submit" value="Jump">
    </form>

    <h2>All tags</h2>
    <menu>
{{- range .TagList }}
      <li><a href="./tags/{{ . }}.html">{{ . }}</a>
{{- end }}
    </menu>
{{ end }}
  </div>

  <div id="spacer"></div>

  <div id="footer">
    <p>
      Generated by <strong>Lintian SSG</strong>
{{- if .Version }}
      <a href="https://github.com/n-peugnet/lintian-ssg/tree/{{ .Version }}">{{ .Version }}</a>
{{- end }}
      {{ if .VersionLintian }}(lintian v{{ .VersionLintian }}){{ end }}
      on <time datetime="{{ .DateMachine }}">{{ .DateHuman }}</time> -
      <a href="https://github.com/n-peugnet/lintian-ssg">Source code and bugs</a>
      <br />
      Copyright © {{ block "copyright" . }}1998-{{ .DateYear }} <a href="https://salsa.debian.org/lintian/lintian">Lintian</a> authors{{ end }}
    </p>
{{- if .FooterHTML }}
    {{ .FooterHTML }}
{{- end }}
  </div>

  <datalist id="lintian-tags-datalist"></datalist>

  <script>
    window.addEventListener("load", () => {
      const datalist = document.getElementById("lintian-tags-datalist")
      fetch("{{ .Root }}taglist.json", {cache: "force-cache"})
        .then((res) => res.json())
        .then((taglist) => taglist.forEach((tagname) => {
            let option = document.createElement('option');
            option.value = tagname;
            datalist.appendChild(option);
        }))
    })

    const forms = document.querySelectorAll(".searchbox-form")
    for (const form of forms) {
      form.style.display = "block"
      form.onsubmit = (event) => {
        event.preventDefault()
        window.location = "{{ .Root }}tags/" + form.elements.namedItem("q").value + ".html";
      }
    }
  </script>
</body>
</html>
{{ end }}
