{{ define "title" }}Lintian User's Manual{{ end }}

{{ define "description" }}Online version of Lintian {{ .VersionLintian }} user's manual{{ end }}

{{ define "page" }}manual.html{{ end }}

{{ define "content" }}
    {{ .Manual }}
{{ end }}
