{{ define "title" }}Lintian Tag: {{ .Name }}{{ end }}

{{ define "description" }}Explanation for the lintian tag {{ .Name }}{{ end }}

{{ define "page" }}tag/{{ .Name }}.html{{ end }}

{{ define "content" }}
    <h1>
      <code class="{{ .Visibility }}{{ if .Experimental }} experimental{{ end }}">
        {{ .Name }}
      </code>
    </h1>
    {{ .ExplanationHTML }}
    <table>
      <tr>
        <td>Severity: </td>
        <td><code>{{ .Visibility }}</code></td>
      </tr>
      <tr>
        <td>Experimental: </td>
        <td><code>{{ .Experimental }}</code></td>
      </tr>
{{- if .RenamedFrom }}
      <tr>
        <td>Renamed from: </td>
        <td><code>{{ .RenamedFromStr }}</code></td>
      </tr>
{{- end }}
    </table>

{{ if .Screens }}
    <h2>Screens</h2>
    <dl>
{{- range .Screens }}
      <dt>{{ .Name }}</dt>
      <dd>
        {{ .ReasonHTML }}
        {{ .AdvocatesHTML }}
{{- if .SeeAlso }}
        {{ .SeeAlsoHTML }}
{{- end }}
      </dd>
{{- end }}
    </dl>
{{ end }}

    <h2>See also</h2>
    <ul id="see-also">
{{- range .SeeAlsoHTML }}
      <li>{{ . }}</li>
{{- end }}
      <li>List of <a href="https://udd.debian.org/lintian-tag.cgi?tag={{ .Name }}">all the affected packages</a>
    </ul>
{{ end }}
